/* Lazy Load Styles */
.cardImage {
	display: block;
	max-height: 5rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
}

.cardList {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block;
	width: 60%;
	max-width: 10rem;
	max-height: 10rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.cardDescription {
    max-height: 4rem;
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}
