.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #f7f7f7;
    border-radius: 10px;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .input {
    width: 80%;
    height: 80%;
    border: none;
    font-size: 16px;
    outline: none;
  }
  