.title {
  display:flex;
  color: #333;
  justify-content: center;
}
.buttonsStyling{
  display: inline-block;
  padding: 8px !important;
}
.text {
  color: #777;
}
.btn {
  display: inline-block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.centerStacked {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
